<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <link rel=stylesheet type="text/css" href="{% static "css/menu.css" %}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body>
        {% url 'Home_url_name' as home %}
        {% url 'Download_url_name' as download %}
        <div id="main">
        <div id="navigation">
            <ul>
                <li class="logo"> <h2> B07902001 </h2></li>
                   <li>{% block nav-home %}<a href={{ home }}>Home</a>{% endblock %}</li>
                   <li>{% block nav-download %} <a href={{ download }} >Download</a>{% endblock %}</li>
                 </ul>
           </div>