<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %} B07902001 {% endblock %} </title>
        {% load static %}
        <link rel=stylesheet type="text/css" href="{% static "css/menu.css" %}">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body>
        {% url 'Home_url_name' as home %}
        {% url 'Download_url_name' as download %}
        {% url 'Register_url_name' as register %}
	{% url 'Update_log_url_name' as updatelog %}
        {% url 'Login_url_name' as login %}
        {% url 'Logout_url_name' as logout %}
        <div id="main">
        <div id="navigation">
            <ul>
                <li class="logo"> <h2> B07902001 </h2></li>
                   <li>{% block nav-home %}<a href={{ home }}>Home</a>{% endblock %}</li>
                   <li>{% block nav-download %} <a href={{ download }} >Download</a>{% endblock %}</li>
		   <li>{% block nav-log %} <a href= {{ updatelog }}>Log</a>{% endblock %}</li>
                   {% if request.session.username %}
                        <li class="user"><a href="{{ logout }}">{% block nav-logout %} Logout {% endblock %} </a> </li>
                        <li class="user"><a href="#">{% block nav-user %} {{ request.session.username }}{% endblock %}</a></li>
                   {% else %}
                   <li class="user">{% block nav-register %} <a href={{ register }}>Register</a>{% endblock %}</li>
                   <li class="user">{% block nav-login %} <a href={{ login }}>Login</a>{% endblock %} </li>
                   {% endif %}
                 </ul>
           </div>
