{% include "Header.html" %}
{% if is_sent %}
<p> The Reset Password letter has been sent! Please check your e-mail! </p>
{% elif is_altered %}
<p> Your Password has been changed! Now redirecting to homepage... </p>
<meta http-equiv="refresh" content="2";url="/"" />
{% else %}
    {% if is_valid %}
    <form method='POST'>
    {% else %}
    <form method='GET'>
    {% endif %}
    {% csrf_token %}
    {{form.as_p}}
    <input type='submit' value='送出'>
    </form>
{% endif %}
{% include "Footer.html" %}